.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.btn-info{
  background-color:#337ab7;
  border-color: #337ab7;
}
/*#337ab7*/
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.selectYear{
  font-size: 125%;
}
.navbarForm{
  padding: 0px ; 
}
#root > div > div > div.row > div > div > div > input{
  width: 100px;
}
.form-header{
  float: left;
}
.panel{
  border-radius: 0;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
}
.chart-border-text{
  /* -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc; */
  text-align: left;
  margin-bottom:5px;
  
}
.chart-border-text > h4{
  padding-top: 15px;  
  padding-bottom: 15px;
  padding-left: 5px;
  font-family: "Open Sans";
}
.chart-border > div > h3,h4{
  padding-top: 10px;
}
.year-select{
  height:70px;
}
.input-bar {
  display: table;
}

.input-bar-item {
  display: table-cell;
}

.input-bar-item > button {
  margin-left: 5px;
}
.input-bar > span {
  font-size: 140%;
  position: relative;
  top:-10px;
} 
.input-group{
max-width: 150px;
  
}
@media (max-width: 992px) {
  .container {
     width: 100%;
  }
}
.input-search{
  width:200px!important;
}
