.active{
    background-color: rgb(94, 90, 90)
}
.chart-border{
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
}

.sidebar{
    top:10px;
}

.chart-border > div > h3,h4{
    padding-top: 10px;
  }